# Dependencies of dependencies
pyyaml
pandas
NorenRestApiPy
requests
websocket_client
pydantic==1.10.8
pendulum
pyotp
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
# Current project dependencies
