pandas
pyyaml
git+https://github.com/pannet1/toolkit
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/NorenRestApiPy
requests
pydantic<2.0
pyotp
websocket-client
pendulum
ta-lib
git+https://github.com/pannet1/kiteext
telethon